body{
    margin: 0;
    font-family: Arial;
    font-size: 2em;
    text-align: center;
}
h1{
    margin: 0;
    font-family: 'Ubuntu';
    padding: 40px;
    text-shadow: 0 0 40px #666;
    background-color: #333;
    color: white;
}
#list{
    margin-top: 15px;
}
li{
    list-style: none;
}
#buttons{
    display:block;
    background-image: linear-gradient(to bottom right, #aaa, #888);
}
a{
    display: inline-block;
    margin: 6px 5px;
    padding: 10px;
}
a:hover{
    opacity: .5;
    background-color: white;
    border-radius: 10px;
}